@page
@model Inventory3.Pages.Departments.CreateModel

@{
    ViewData["Title"] = "Создать";
}

<h3>Создать</h3>

<h4>Кафедра</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Department.Title" class="control-label"></label>
                <input asp-for="Department.Title" class="form-control" />
                <span asp-validation-for="Department.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
